.ai-server-layer{
	max-height:1000px
}
.ai-server-tab{
	font-size:0;margin:0 auto;width:1200px
}
.ai-server-item{
	position:relative;display:inline-block;vertical-align:baseline;margin:60px 27px 0;text-align:center;color:#333;cursor:pointer
}
.ai-server-item-icon{
	margin:14px auto 0;width:60px;height:60px
}
.ai-server-item-icon-tts{
	width:70px
}
.ai-server-item-active{
	-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;background:#262626;color:#fff
}
.ai-server-item-desc{
	height:118px;width:186px
}
.ai-server-item-info{
	padding:14px 0 16px;font-size:16px;
	font-weight:500;font-family:-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,PingFangSC-Medium,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
}
.ai-server-last-item{
	margin-right:0
}
.ai-server-img1,.ai-server-img2,.ai-server-img9{
	-moz-background-size:400px 400px;
	background-size:400px 400px;background-repeat:no-repeat;background-position:50%
}
.ai-server-img1{
	-moz-background-size:500px 500px;background-size:500px 500px;background-image:url(//aip.bdstatic.com/portal/dist/1524153854266/ai_images/home/server/yyhc.png)
}
.ai-server-img2{
	background-image:url(//aip.bdstatic.com/portal/dist/1524153854266/ai_images/home/server/yyhx.png)
}
.ai-server-img9{
	background-image:url(//aip.bdstatic.com/portal/dist/1524153854266/ai_images/home/server/ar.png)
}

.ai-server-sub{
	display:none;font-size:0;background:#262626
}
.ai-server-sub-item{
	display:none;position:relative;overflow:hidden;z-index:2;width:1200px;margin:0 auto;padding:70px 0
}
.ai-server-sub-show{
	visibility:visible;display:block
}
.ai-server-sub-single{
	text-align:center;color:#fff
}
.ai-server-sub-single-tag{
	margin-bottom:20px;font-size:28px;font-weight:500;font-family:-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,PingFangSC-Medium,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
}
.ai-server-sub-single-desc{
	margin:0 auto 40px;width:523px;font-size:14px;line-height:26px;text-align:left
}
.ai-server-sub-left{
	display:inline-block;vertical-align:middle;width:244px;padding:0 16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;color:#fff
}
.ai-server-sub-tag{
	margin-bottom:30px;font-size:28px;font-weight:500;font-family:-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,PingFangSC-Medium,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;line-height:40px
}
.ai-server-sub-link{
	display:inline-block;vertical-align:top;width:100px;height:30px;line-height:30px;font-size:16px;color:#fff;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAAAXNSR0IArs4c6QAAAJJJREFUOBFjYICC////2wDxdiDmgYkRTUM1fwbSIHAYiIk3BKjYBIhhmoFMMCDeEKByPiA+AdGHQpJkCP+oIagxDgyPYRYmASipA8GJQPU4Fh5QrSMQf0XogbMKsShHFRrVDA8sEIP2AWYOtIW8qAJFHFAzDxCDCg9kQNjZyLEO1IlsCGmaYQZBDSGcPGEaqEUDAGh1O+AsoqBuAAAAAElFTkSuQmCC);background-repeat:no-repeat;background-position:80px 9px;-moz-background-size:8px 12px;background-size:8px 12px
}
.ai-server-sub-link:hover{
	color:#0073eb;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABHUlEQVQ4y6XQP0vDQBjH8d9zpFbkpEaIk/gqhC5ZOgq+AN9FaRxcM+qUV1HoCxCCiy7Obl0cbekQwSOoEP8kTxdb0muNd+czJU/4frgL8DPe+Sz0+pM0iDMJi6FFzN9lCrAk4N73t0+e44M3I6A1mB1XVXkHsKypxojY7bQfiTCuLxkIlSqMrkMA4F+8dF4/3m+Yuat9/PMktHhwRaj+4oKQvrBF1gBbZCNgg/wKmCKiCVBX+zmDL/U9A2GeF6cA0Ah40bQHpqG+F0JEn8nRqPEKXjTtccnXAO/o8VdymDT+RNN4I2ATrwG28QrgEi8B1xgAqNWfdCvg1iUGALHnt8cEfnCJl1cI4kwqVaQMhDbxygRxJrcGT2fW4X9nDiVq048/hzlrAAAAAElFTkSuQmCC)
}
.ai-server-sub .ai-link-array{
	display:inline-block;vertical-align:middle;width:20px;height:30px;font-size:18px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAAAXNSR0IArs4c6QAAAJJJREFUOBFjYICC////2wDxdiDmgYkRTUM1fwbSIHAYiIk3BKjYBIhhmoFMMCDeEKByPiA+AdGHQpJkCP+oIagxDgyPYRYmASipA8GJQPU4Fh5QrSMQf0XogbMKsShHFRrVDA8sEIP2AWYOtIW8qAJFHFAzDxCDCg9kQNjZyLEO1IlsCGmaYQZBDSGcPGEaqEUDAGh1O+AsoqBuAAAAAElFTkSuQmCC);background-repeat:no-repeat;background-position:3px;-moz-background-size:8px 12px;background-size:8px 12px;opacity:0;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear
}
.ai-server-sub-right{
	display:inline-block;vertical-align:middle;margin-bottom:-38px;width:956px;padding-left:90px;font-size:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box
}
.ai-server-sub-desc{
	margin-bottom:30px;display:inline-block;vertical-align:top;width:288.66666667px
}
.ai-server-sub-desc:hover .ai-server-sub-info,.ai-server-sub-desc:hover .ai-server-sub-title{
	color:#0073eb
}
.ai-server-sub-title{
	margin-bottom:10px;font-size:16px;color:#fff
}
.ai-server-sub-main{
	margin:10px 0 22px;font-size:14px;line-height:24px;color:#fff;text-align:left
}
.ai-server-sub-info{
	width:264px;font-size:14px;line-height:24px;color:#999
}


